@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@layer utilities {
  html {
    height: 100%;
    width: 100%;
  }

  body {
    height: 100%;
    width: 100%;
  }
}

@layer component {
  .bubble-pop {
    animation: bubble-pop var(--animation-btn, 0.25s) ease-out;
  }
  .bubble-pop:active:hover, .clickable:active:focus {
    animation: none;
  }
  .bubble-pop:active:hover, .clickable:active:focus {
    transform: scale(var(--btn-focus-scale, 0.95));
  }

  @keyframes bubble-pop {
    0% {
      transform: scale(var(--btn-focus-scale, 0.95));
    }
    40% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }

  .bubble-shake:not(:active) {
    animation: bubble-shake var(--animation-btn, 1.25s) linear;
  }

  @keyframes bubble-shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .t-column {
    @apply flex flex-col items-center w-full gap-2;
  }
}

@layer utilities {
  .t-absolute-center-x {
    @apply absolute left-1/2 transform -translate-x-1/2;
  }

  .t-absolute-center-y {
    @apply absolute top-1/2 transform -translate-y-1/2;
  }

  .t-divider-tight {
    @apply my-0 mx-0;
  }
}


/* Elm Toast stuff https://package.elm-lang.org/packages/emilianobovetti/elm-toast/latest/ */

.toast-tray {
  @apply t-column gap-2 fixed bottom-[5rem] left-1/2 -translate-x-1/2 w-auto bg-red-500;
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: auto; /* Without width: auto the toast tray will have 100% width and block clicking things underneath */
}

.toast {
  box-sizing: content-box;
  display: flex;
  position: relative;
  opacity: 1;
  transition:
    /* opacity --toast-transition-duration ease,
    transform --toast-transition-duration ease; */
    opacity 0.6s ease,
    /* transform 0.6s ease; */
}

.toast--fade-out {
  opacity: 0;
  /* transform: translateY(20em); */
}

.toast--spaced {
  margin-bottom: 1em;
}

.toast-frame {
  /* min-height: 4em;
  max-height: 4em;
  transition:
    min-height 0.6s linear,
    min-height 0.6s linear; */
}

.toast-frame--fade-out {
  /* min-height: 0;
  max-height: 0; */
}

